<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>GOV網址註冊</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script defer src='/js/bootstrap.min.js'></script>
    <script defer src='../../tools/validation.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>