<div
  class='container-fluid d-flex flex-column justify-content-center align-items-center'
>
  <div class='' style='height:150px'><img
      src='../public/Banner-test.png'
      class=''
      alt='Responsive image'
    /></div>

  <div class='card my-3 mt-6' style='width:500px; height:500px'>
    <div class='card-body'>
      <h4 class='card-title'>網址註冊</h4>
      <form
        class='row g-3 needs-validation'
        novalidate
        action='/send'
        method='post'
      >
        <div class='form-group col-md-12'>
          <label for='url' class='form-label'>欲轉換長網址</label>
          <div class='input-group'>
            <input
              type='url'
              class='form-control'
              id='url'
              name='url'
              autocomplete='off'
              placeholder='https://example.gov.tw'
              required
            />
            <button id='checkBtn' class='btn btn-primary' disabled>檢查</button>
            <div class='invalid-feedback'>error message</div>

          </div>
        </div>

        <div class='form-group col-md-12'>
          <label for='agency' class='form-label'>長網址所屬單位:</label>
          <input
            type='text'
            class='form-control'
            id='agency'
            name='agency'
            autocomplete='off'
            placeholder='長網址所屬單位'
            required
          />
          <div class='invalid-feedback'>error message</div>
        </div>

        <div class='form-group col-md-12'>
          <label for='email' class='form-label'>您的電子郵件</label>
          <input
            type='email'
            class='form-control'
            id='email'
            name='email'
            autocomplete='off'
            placeholder='abc@example.gov.tw'
            required
          />
          <div class='invalid-feedback'>error message</div>
        </div>
        <div class='col-12 d-flex justify-content-end'>
          <button
            class='btn btn-primary'
            id='submitButton'
            type='submit'
          >註冊</button>
        </div>
        <h3>{{message}}</h3>
      </form>
    </div>
  </div>

</div>

<div class='modal' tabindex='-1' id='urlCheckResultModal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>此網址已申請過</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body' id='shortIsExistModalContent'>
        <p>Modal body text goes here.</p>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
      </div>
    </div>
  </div>
</div>