<div
  class='container-fluid vh-100 d-flex justify-content-center align-items-center'
>
  <div class='card my-3' style='width:500px; height:500px'>
    <div class='card-body'>
      <h4 class='card-title'>短網址轉換完成</h4>
      <div>原始網址 <span>{{originURL}}</span></div>
      <div>轉換網址 <span>{{shortURL}}</span></div>
    </div>
  </div>
</div>